<a href="https://colab.research.google.com/github/Ashutosh-Gairola/I-AI-ML/blob/main/Recomendation_System/2notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import missingno as msno
import seaborn as sns
import os

In [2]:
amazon_titles = pd.read_csv("https://raw.githubusercontent.com/Ashutosh-Gairola/I-AI-ML/main/Recomendation_System/amazon_prime/titles.csv")
appletv_titles = pd.read_csv("https://raw.githubusercontent.com/Ashutosh-Gairola/I-AI-ML/main/Recomendation_System/apple/titles.csv")
disney_titles = pd.read_csv("https://raw.githubusercontent.com/Ashutosh-Gairola/I-AI-ML/main/Recomendation_System/disney/titles.csv")
hbo_titles = pd.read_csv("https://raw.githubusercontent.com/Ashutosh-Gairola/I-AI-ML/main/Recomendation_System/HBO/titles.csv")
netflix_titles = pd.read_csv("https://raw.githubusercontent.com/Ashutosh-Gairola/I-AI-ML/main/Recomendation_System/netflix/titles.csv")
paramount_titles = pd.read_csv("https://raw.githubusercontent.com/Ashutosh-Gairola/I-AI-ML/main/Recomendation_System/paramount/titles.csv")

amazon_credits = pd.read_csv("https://raw.githubusercontent.com/Ashutosh-Gairola/I-AI-ML/main/Recomendation_System/amazon_prime/titles.csv")
appletv_credits = pd.read_csv("https://raw.githubusercontent.com/Ashutosh-Gairola/I-AI-ML/main/Recomendation_System/apple/credits.csv")
disney_credits = pd.read_csv("https://raw.githubusercontent.com/Ashutosh-Gairola/I-AI-ML/main/Recomendation_System/disney/credits.csv")
hbo_credits = pd.read_csv("https://raw.githubusercontent.com/Ashutosh-Gairola/I-AI-ML/main/Recomendation_System/HBO/credits.csv")
netflix_credits = pd.read_csv("https://raw.githubusercontent.com/Ashutosh-Gairola/I-AI-ML/main/Recomendation_System/netflix/credits.csv")
paramount_credits = pd.read_csv("https://raw.githubusercontent.com/Ashutosh-Gairola/I-AI-ML/main/Recomendation_System/paramount/credits.csv")

In [3]:
paramount_titles

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,tm65789,Sunset Boulevard,MOVIE,A hack screenwriter writes a screenplay for a ...,1950,PG,110,['drama'],['US'],NaN,tt0043014,8.4,224704.0,18.431,8.366
1,tm83884,His Girl Friday,MOVIE,"Hildy, the journalist former wife of newspaper...",1940,NaN,92,"['drama', 'romance', 'comedy']",['US'],NaN,tt0032599,7.8,60244.0,14.759,7.433
2,tm5012,Red River,MOVIE,Headstrong Thomas Dunson starts a thriving Tex...,1948,NaN,133,"['western', 'drama', 'romance', 'action']",['US'],NaN,tt0040724,7.8,32210.0,12.400,7.400
3,tm19248,The General,MOVIE,"During America’s Civil War, Union spies steal ...",1926,NaN,79,"['comedy', 'drama', 'action', 'war', 'western'...",['US'],NaN,tt0017925,8.1,92935.0,12.316,8.009
4,tm122846,The Kid,MOVIE,A tramp cares for a boy after he's abandoned a...,1921,NaN,68,"['comedy', 'drama', 'family']",['US'],NaN,tt0012349,8.3,128096.0,14.865,8.212
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3177,ts374339,Sometimes When We Touch,SHOW,"The untold story of soft rock, whose artists d...",2023,TV-MA,48,"['documentation', 'history', 'music']",['US'],1.0,tt24512706,7.7,91.0,4.342,2.000
3178,ts361945,FBI True,SHOW,Takes viewers behind the scenes of the most co...,2023,TV-14,24,"['drama', 'documentation']",['US'],1.0,tt26895624,6.9,25.0,7.531,NaN
3179,ts378319,Lingo,SHOW,Host RuPaul Charles brings his one-of-a-kind p...,2023,NaN,42,['reality'],['US'],1.0,tt26082946,5.7,76.0,2.751,2.000
3180,tm1075680,World's Most Dangerous Shark?,MOVIE,"The Great White has a scary reputation, but Ex...",2023,PG-13,44,['documentation'],[],NaN,NaN,NaN,NaN,1.623,NaN
3181,tm1312309,Don't Leave Me Behind: Stories of Young Ukrain...,MOVIE,The fears and resiliencies within a group of t...,2023,NaN,42,['documentation'],['US'],NaN,tt26847008,NaN,NaN,0.652,NaN

In [4]:
netflix_titles

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,NaN,NaN,NaN,0.601,NaN
1,tm82169,Rocky,MOVIE,"When world heavyweight boxing champion, Apollo...",1976,PG,119,"['drama', 'sport']",['US'],NaN,tt0075148,8.1,588100.0,106.361,7.782
2,tm17823,Grease,MOVIE,Australian good girl Sandy and greaser Danny f...,1978,PG,110,"['romance', 'comedy']",['US'],NaN,tt0077631,7.2,283316.0,33.160,7.406
3,tm191099,The Sting,MOVIE,A novice con man teams up with an acknowledged...,1973,PG,129,"['crime', 'drama', 'comedy', 'music']",['US'],NaN,tt0070735,8.3,266738.0,24.616,8.020
4,tm69975,Rocky II,MOVIE,After Rocky goes the distance with champ Apoll...,1979,PG,119,"['drama', 'sport']",['US'],NaN,tt0079817,7.3,216307.0,75.699,7.246
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6132,tm1303784,عبود في البيت,MOVIE,Two young boys must work together to stop robb...,2023,NaN,81,"['family', 'comedy']",['KW'],NaN,NaN,NaN,NaN,3.351,2.000
6133,tm1260999,Sweetie,MOVIE,"‘Theatre is my life,’ Yıldız Kenter admits in ...",2023,NaN,120,['documentation'],['TR'],NaN,tt26349328,7.9,209.0,2.450,7.200
6134,tm1310286,Sommore: Queen Chandelier,MOVIE,This Queen of Comedy shines as she takes the s...,2023,NaN,69,['comedy'],['US'],NaN,tt21033382,6.1,91.0,1.960,NaN
6135,tm1072700,All Na Vibes,MOVIE,The lives of three teenagers and a hit-man int...,2023,NaN,80,['drama'],['NG'],NaN,tt14922926,5.2,18.0,1.357,4.000
6136,tm561709,Going to Heaven,MOVIE,"A story about young boy sultan, 11 years old l...",2023,NaN,90,['family'],['AE'],NaN,tt4623222,7.0,40.0,NaN,NaN

In [5]:
hbo_titles

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,tm77588,Casablanca,MOVIE,"In Casablanca, Morocco in December 1941, a cyn...",1943,PG,102,"['drama', 'romance', 'war']",['US'],NaN,tt0034583,8.5,577842.0,22.005,8.167
1,tm155702,The Wizard of Oz,MOVIE,Young Dorothy finds herself in a magical world...,1939,G,102,"['fantasy', 'family']",['US'],NaN,tt0032138,8.1,406105.0,56.631,7.583
2,tm83648,Citizen Kane,MOVIE,"Newspaper magnate, Charles Foster Kane is take...",1941,PG,119,['drama'],['US'],NaN,tt0033467,8.3,446627.0,19.900,8.022
3,tm3175,Meet Me in St. Louis,MOVIE,In the year before the 1904 St. Louis World's ...,1945,NaN,113,"['drama', 'family', 'romance', 'music', 'comedy']",['US'],NaN,tt0037059,7.5,25589.0,8.311,7.000
4,ts225761,Tom and Jerry,SHOW,Tom and Jerry is an American animated franchis...,1940,NaN,8,"['animation', 'comedy', 'family', 'action']",['US'],16.0,tt6422744,7.7,859.0,1.400,10.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3025,tm1305288,"Marcella Arguello: Bitch, Grow Up!",MOVIE,Arguello couples her larger-than-life stage pr...,2023,R,37,['comedy'],['US'],NaN,tt26623699,6.9,27.0,7.509,2.000
3026,tm1303655,Super-Vilains: l'Enquête,MOVIE,Comic book writers discuss how they make the v...,2023,PG-13,62,['documentation'],['FR'],NaN,tt26498712,5.5,45.0,3.402,6.000
3027,tm1296261,Just a Boy From Tupelo: Bringing Elvis to the ...,MOVIE,"Director Baz Luhrmann, actors Austin Butler an...",2023,PG-13,27,['documentation'],[],NaN,NaN,NaN,NaN,2.605,4.500
3028,tm1065897,Dionne Warwick: Don't Make Me Over,MOVIE,The story of the iconic singer's fascinating s...,2023,PG,95,"['documentation', 'music']","['US', 'GB']",NaN,tt6170406,7.8,255.0,9.371,NaN
3029,tm1304306,The Family Meeting,MOVIE,"During a family meeting, a grandmother and gra...",2023,NaN,15,[],[],NaN,NaN,NaN,NaN,3.091,2.000

In [6]:
disney_titles

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,tm89464,Miracle on 34th Street,MOVIE,"Kris Kringle, seemingly the embodiment of Sant...",1947,G,96,"['family', 'comedy', 'drama']",['US'],NaN,tt0039628,7.9,50969.0,23.515,7.388
1,tm61729,The Adventures of Ichabod and Mr. Toad,MOVIE,The Wind in the Willows: Concise version of Ke...,1950,G,68,"['horror', 'fantasy', 'animation', 'family', '...",['US'],NaN,tt0041094,6.9,16502.0,16.194,6.500
2,tm61052,Cinderella,MOVIE,Cinderella has faith her dreams of a better li...,1950,G,74,"['fantasy', 'animation', 'family', 'romance']",['US'],NaN,tt0042332,7.3,164292.0,93.547,7.035
3,tm87946,Dumbo,MOVIE,Dumbo is a baby elephant born with over-sized ...,1941,G,64,"['animation', 'drama', 'family', 'fantasy']",['US'],NaN,tt0033563,7.2,135045.0,54.265,6.999
4,tm74391,Fantasia,MOVIE,Walt Disney's timeless masterpiece is an extra...,1941,G,119,"['animation', 'family', 'fantasy', 'music']",['US'],NaN,tt0032455,7.7,98764.0,43.609,7.382
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1849,ts305794,7 Toughest Days,SHOW,Dwayne Fields grew up around violent gangs and...,2023,TV-PG,49,"['reality', 'documentation', 'action']",['US'],1.0,tt15257974,7.8,23.0,3.733,2.000
1850,tm1308301,Disney100 | Special Look,MOVIE,"In 2023, Disney’s 100-year milestone provides ...",2023,NaN,1,[],[],NaN,NaN,NaN,NaN,1.960,NaN
1851,tm1075680,World's Most Dangerous Shark?,MOVIE,"The Great White has a scary reputation, but Ex...",2023,PG-13,44,['documentation'],[],NaN,NaN,NaN,NaN,1.623,NaN
1852,tm1227149,Baby Sharks,MOVIE,"Even the biggest, fastest and fiercest predato...",2023,PG,45,['documentation'],['US'],NaN,tt21271008,6.3,19.0,1.501,2.000
1853,tm1306624,Inside Airport Lost & Found,MOVIE,NaN,2023,PG,44,[],[],NaN,NaN,NaN,NaN,0.600,NaN

In [7]:
appletv_titles

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,tm1300,A Charlie Brown Christmas,MOVIE,When Charlie Brown complains about the overwhe...,1965,G,25,"['comedy', 'drama', 'family', 'music', 'animat...",['US'],NaN,tt0059026,8.3,40328.0,10.848,7.688
1,tm71152,"It's the Great Pumpkin, Charlie Brown",MOVIE,"This classic ""Peanuts"" tale focuses on the thu...",1966,G,25,"['animation', 'comedy', 'family']",['US'],NaN,tt0060550,8.2,20299.0,12.458,7.474
2,tm2562,A Charlie Brown Thanksgiving,MOVIE,"Turkey, cranberries, pumpkin pie... and the Pe...",1973,G,25,"['family', 'animation', 'comedy']",['US'],NaN,tt0068359,7.7,11406.0,12.591,7.311
3,tm125274,"Be My Valentine, Charlie Brown",MOVIE,It's Valentine's Day again and Charlie Brown d...,1975,G,25,"['animation', 'family', 'romance', 'comedy']",['US'],NaN,tt0072687,7.4,2777.0,6.981,7.000
4,tm106607,"It's the Easter Beagle, Charlie Brown",MOVIE,"Charlie Brown, Linus and the entire Peanuts ga...",1974,G,25,"['family', 'animation', 'comedy']",['US'],NaN,tt0071679,7.5,3001.0,6.172,6.600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,ts328281,Dear Edward,SHOW,A 12-year-old boy survives a plane crash that ...,2023,TV-MA,0,['drama'],['US'],1.0,tt17543896,7.4,1324.0,37.810,2.000
166,ts316895,The Reluctant Traveler with Eugene Levy,SHOW,Award-winning actor and nervous explorer Eugen...,2023,TV-PG,35,"['documentation', 'reality']",['GB'],1.0,tt15822846,7.8,473.0,13.892,6.800
167,ts296808,Liaison,SHOW,This contemporary thriller explores how past m...,2023,TV-MA,51,"['crime', 'thriller']","['FR', 'GB']",1.0,tt14792896,6.3,549.0,84.911,6.100
168,ts374301,Super League: The War For Football,SHOW,"The past, present, and future of European foot...",2023,TV-MA,0,"['documentation', 'sport']",['US'],1.0,tt24587530,7.4,414.0,6.800,6.700
169,ts377681,Shape Island,SHOW,"On a charming island, Square, Triangle, and Ci...",2023,TV-G,24,"['family', 'animation', 'fantasy', 'comedy']",['US'],1.0,tt25515858,7.6,121.0,18.529,9.200

In [8]:
amazon_titles

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,tm87233,It's a Wonderful Life,MOVIE,A holiday favourite for generations... George...,1946,PG,130,"['drama', 'family', 'fantasy', 'romance', 'com...",['US'],NaN,tt0038650,8.6,467766.0,27.611,8.261
1,tm143047,Duck Soup,MOVIE,Rufus T. Firefly is named president/dictator o...,1933,NaN,69,"['comedy', 'war']",['US'],NaN,tt0023969,7.8,60933.0,9.013,7.357
2,tm83884,His Girl Friday,MOVIE,"Hildy, the journalist former wife of newspaper...",1940,NaN,92,"['drama', 'romance', 'comedy']",['US'],NaN,tt0032599,7.8,60244.0,14.759,7.433
3,ts20945,The Three Stooges,SHOW,The Three Stooges were an American vaudeville ...,1934,TV-PG,19,"['comedy', 'family']",['US'],26.0,tt0850645,8.5,1149.0,15.424,7.600
4,tm5012,Red River,MOVIE,Headstrong Thomas Dunson starts a thriving Tex...,1948,NaN,133,"['western', 'drama', 'romance', 'action']",['US'],NaN,tt0040724,7.8,32210.0,12.400,7.400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10868,tm1292884,Hunt,MOVIE,"Arjun is the ACP of Hyderabad, who gets involv...",2023,NaN,129,"['action', 'thriller', 'crime']",['IN'],NaN,tt21946058,5.8,1269.0,4.403,4.300
10869,tm1284753,Ennalum Ente Aliya,MOVIE,It tells the story of a teen girl from a Musli...,2023,NaN,113,"['drama', 'comedy']",['IN'],NaN,tt23805304,5.6,812.0,3.406,8.000
10870,tm1303380,Anubhav Singh Bassi: Bas Kar Bassi,MOVIE,"Fresh out of national law university, Bassi ar...",2023,NaN,83,['comedy'],[],NaN,tt26548127,8.3,10.0,1.960,NaN
10871,tm1307408,Pinkfong! Summer in Wonderville,MOVIE,It’s a hot summer day in Wonderville! Let’s jo...,2023,NaN,47,[],[],NaN,NaN,NaN,NaN,1.336,NaN
10872,tm1297385,Chapelle,MOVIE,"In the streets of North Paris, in a famous ghe...",2023,NaN,72,['drama'],[],NaN,tt26025502,NaN,NaN,NaN,NaN

### concatenate

In [ ]:
titles = pd.concat([amazon_titles, appletv_titles, disney_titles, hbo_titles, netflix_titles, paramount_titles], axis = 0).reset_index()
titles.drop(['index'], axis=1, inplace=True)
titles

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,tm87233,It's a Wonderful Life,MOVIE,A holiday favourite for generations... George...,1946,PG,130,"['drama', 'family', 'fantasy', 'romance', 'com...",['US'],NaN,tt0038650,8.6,467766.0,27.611,8.261
1,tm143047,Duck Soup,MOVIE,Rufus T. Firefly is named president/dictator o...,1933,NaN,69,"['comedy', 'war']",['US'],NaN,tt0023969,7.8,60933.0,9.013,7.357
2,tm83884,His Girl Friday,MOVIE,"Hildy, the journalist former wife of newspaper...",1940,NaN,92,"['drama', 'romance', 'comedy']",['US'],NaN,tt0032599,7.8,60244.0,14.759,7.433
3,ts20945,The Three Stooges,SHOW,The Three Stooges were an American vaudeville ...,1934,TV-PG,19,"['comedy', 'family']",['US'],26.0,tt0850645,8.5,1149.0,15.424,7.600
4,tm5012,Red River,MOVIE,Headstrong Thomas Dunson starts a thriving Tex...,1948,NaN,133,"['western', 'drama', 'romance', 'action']",['US'],NaN,tt0040724,7.8,32210.0,12.400,7.400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25241,ts374339,Sometimes When We Touch,SHOW,"The untold story of soft rock, whose artists d...",2023,TV-MA,48,"['documentation', 'history', 'music']",['US'],1.0,tt24512706,7.7,91.0,4.342,2.000
25242,ts361945,FBI True,SHOW,Takes viewers behind the scenes of the most co...,2023,TV-14,24,"['drama', 'documentation']",['US'],1.0,tt26895624,6.9,25.0,7.531,NaN
25243,ts378319,Lingo,SHOW,Host RuPaul Charles brings his one-of-a-kind p...,2023,NaN,42,['reality'],['US'],1.0,tt26082946,5.7,76.0,2.751,2.000
25244,tm1075680,World's Most Dangerous Shark?,MOVIE,"The Great White has a scary reputation, but Ex...",2023,PG-13,44,['documentation'],[],NaN,NaN,NaN,NaN,1.623,NaN
25245,tm1312309,Don't Leave Me Behind: Stories of Young Ukrain...,MOVIE,The fears and resiliencies within a group of t...,2023,NaN,42,['documentation'],['US'],NaN,tt26847008,NaN,NaN,0.652,NaN

In [ ]:
credits = pd.concat([amazon_credits,appletv_credits,disney_credits,hbo_credits,netflix_credits,paramount_credits], axis = 0).reset_index()
credits.drop(['index'], axis=1, inplace=True)
credits

        person_id         id              name         character      role
0           25020    tm87233     James Stewart     George Bailey     ACTOR
1           26190    tm87233        Donna Reed        Mary Hatch     ACTOR
2           25653    tm87233  Lionel Barrymore        Mr. Potter     ACTOR
3           13301    tm87233   Thomas Mitchell       Uncle Billy     ACTOR
4           34171    tm87233     Henry Travers          Clarence     ACTOR
...           ...        ...               ...               ...       ...
370541     709229  tm1285862    Jonah Feingold               NaN  DIRECTOR
370542      24846   ts378319            RuPaul       Self - Host     ACTOR
370543    1331687  tm1075680        Brian Cade  Narrator (voice)     ACTOR
370544     412947  tm1075680      Kevin Bachar               NaN  DIRECTOR
370545    2413513  tm1312309   Nathaniel Lezra               NaN  DIRECTOR

[370546 rows x 5 columns]

## merge titles and credits into one dataframe

In [ ]:
merge_titles_credits = pd.merge(titles, credits, on='id').reset_index()

In [ ]:
merge_titles_credits

,index,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,person_id,name,character,role
0,0,tm87233,It's a Wonderful Life,MOVIE,A holiday favourite for generations... George...,1946,PG,130,"['drama', 'family', 'fantasy', 'romance', 'com...",['US'],NaN,tt0038650,8.6,467766.0,27.611,8.261,25020,James Stewart,George Bailey,ACTOR
1,1,tm87233,It's a Wonderful Life,MOVIE,A holiday favourite for generations... George...,1946,PG,130,"['drama', 'family', 'fantasy', 'romance', 'com...",['US'],NaN,tt0038650,8.6,467766.0,27.611,8.261,26190,Donna Reed,Mary Hatch,ACTOR
2,2,tm87233,It's a Wonderful Life,MOVIE,A holiday favourite for generations... George...,1946,PG,130,"['drama', 'family', 'fantasy', 'romance', 'com...",['US'],NaN,tt0038650,8.6,467766.0,27.611,8.261,25653,Lionel Barrymore,Mr. Potter,ACTOR
3,3,tm87233,It's a Wonderful Life,MOVIE,A holiday favourite for generations... George...,1946,PG,130,"['drama', 'family', 'fantasy', 'romance', 'com...",['US'],NaN,tt0038650,8.6,467766.0,27.611,8.261,13301,Thomas Mitchell,Uncle Billy,ACTOR
4,4,tm87233,It's a Wonderful Life,MOVIE,A holiday favourite for generations... George...,1946,PG,130,"['drama', 'family', 'fantasy', 'romance', 'com...",['US'],NaN,tt0038650,8.6,467766.0,27.611,8.261,34171,Henry Travers,Clarence,ACTOR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
440749,440749,tm1285862,At Midnight,MOVIE,Alejandro's life is disrupted when actress Sop...,2023,R,100,"['comedy', 'romance']","['US', 'MX']",NaN,tt14874302,5.5,864.0,21.746,5.729,3750,Anders Holm,Adam Clark,ACTOR
440750,440750,tm1285862,At Midnight,MOVIE,Alejandro's life is disrupted when actress Sop...,2023,R,100,"['comedy', 'romance']","['US', 'MX']",NaN,tt14874302,5.5,864.0,21.746,5.729,2769167,Matt Ramos,Super Society Fan Critic,ACTOR
440751,440751,tm1285862,At Midnight,MOVIE,Alejandro's life is disrupted when actress Sop...,2023,R,100,"['comedy', 'romance']","['US', 'MX']",NaN,tt14874302,5.5,864.0,21.746,5.729,709229,Jonah Feingold,NaN,DIRECTOR
440752,440752,ts378319,Lingo,SHOW,Host RuPaul Charles brings his one-of-a-kind p...,2023,NaN,42,['reality'],['US'],1.0,tt26082946,5.7,76.0,2.751,2.000,24846,RuPaul,Self - Host,ACTOR
440753,440753,tm1312309,Don't Leave Me Behind: Stories of Young Ukrain...,MOVIE,The fears and resiliencies within a group of t...,2023,NaN,42,['documentation'],['US'],NaN,tt26847008,NaN,NaN,0.652,NaN,2413513,Nathaniel Lezra,NaN,DIRECTOR

In [ ]:
merge_titles_credits.columns

Index(['index', 'id', 'title', 'type', 'description', 'release_year',
       'age_certification', 'runtime', 'genres', 'production_countries',
       'seasons', 'imdb_id', 'imdb_score', 'imdb_votes', 'tmdb_popularity',
       'tmdb_score', 'person_id', 'name', 'character', 'role'],
      dtype='object')

In [ ]:
merge_titles_credits.drop(['index'], axis=1, inplace=True)

In [ ]:
merge_titles_credits.columns

Index(['id', 'title', 'type', 'description', 'release_year',
       'age_certification', 'runtime', 'genres', 'production_countries',
       'seasons', 'imdb_id', 'imdb_score', 'imdb_votes', 'tmdb_popularity',
       'tmdb_score', 'person_id', 'name', 'character', 'role'],
      dtype='object')

In [ ]:
# content based recommender system
merge_titles_credits.drop(['release_year','runtime','production_countries','seasons','imdb_id', 'imdb_score', 'imdb_votes', 'tmdb_popularity','tmdb_score', 'person_id','character','age_certification'], axis=1, inplace=True)

In [ ]:
merge_titles_credits.columns

Index(['id', 'title', 'type', 'description', 'genres', 'name', 'role'], dtype='object')

In [ ]:
merge_titles_credits

,id,title,type,description,genres,name,role
0,tm87233,It's a Wonderful Life,MOVIE,A holiday favourite for generations... George...,"['drama', 'family', 'fantasy', 'romance', 'com...",James Stewart,ACTOR
1,tm87233,It's a Wonderful Life,MOVIE,A holiday favourite for generations... George...,"['drama', 'family', 'fantasy', 'romance', 'com...",Donna Reed,ACTOR
2,tm87233,It's a Wonderful Life,MOVIE,A holiday favourite for generations... George...,"['drama', 'family', 'fantasy', 'romance', 'com...",Lionel Barrymore,ACTOR
3,tm87233,It's a Wonderful Life,MOVIE,A holiday favourite for generations... George...,"['drama', 'family', 'fantasy', 'romance', 'com...",Thomas Mitchell,ACTOR
4,tm87233,It's a Wonderful Life,MOVIE,A holiday favourite for generations... George...,"['drama', 'family', 'fantasy', 'romance', 'com...",Henry Travers,ACTOR
...,...,...,...,...,...,...,...
440749,tm1285862,At Midnight,MOVIE,Alejandro's life is disrupted when actress Sop...,"['comedy', 'romance']",Anders Holm,ACTOR
440750,tm1285862,At Midnight,MOVIE,Alejandro's life is disrupted when actress Sop...,"['comedy', 'romance']",Matt Ramos,ACTOR
440751,tm1285862,At Midnight,MOVIE,Alejandro's life is disrupted when actress Sop...,"['comedy', 'romance']",Jonah Feingold,DIRECTOR
440752,ts378319,Lingo,SHOW,Host RuPaul Charles brings his one-of-a-kind p...,['reality'],RuPaul,ACTOR
440753,tm1312309,Don't Leave Me Behind: Stories of Young Ukrain...,MOVIE,The fears and resiliencies within a group of t...,['documentation'],Nathaniel Lezra,DIRECTOR

In [ ]:
# Group by 'id' and aggregate 'name' into a list
grouped_data = merge_titles_credits.groupby('id')['name'].agg(list).reset_index()

# Merge the aggregated data with the original merge_titles_credits
final_data = pd.merge(merge_titles_credits.drop('name', axis=1), grouped_data, on='id', how='inner')

# Convert the 'name' list to a string for duplicate check
final_data['name'] = final_data['name'].astype(str)

# Drop duplicates based on all columns
final_data.drop_duplicates(inplace=True, ignore_index=True)

# Display the final DataFrame
print(final_data)

              id                                              title   type  \
0        tm87233                              It's a Wonderful Life  MOVIE
1        tm87233                              It's a Wonderful Life  MOVIE
2       tm143047                                          Duck Soup  MOVIE
3       tm143047                                          Duck Soup  MOVIE
4        tm83884                                    His Girl Friday  MOVIE
...          ...                                                ...    ...
38065  tm1238886                               Teen Wolf: The Movie  MOVIE
38066  tm1285862                                        At Midnight  MOVIE
38067  tm1285862                                        At Midnight  MOVIE
38068   ts378319                                              Lingo   SHOW
38069  tm1312309  Don't Leave Me Behind: Stories of Young Ukrain...  MOVIE

                                             description  \
0      A holiday favourite for generations...  George...
1      A holiday favourite for generations...  George...
2      Rufus T. Firefly is named president/dictator o...
3      Rufus T. Firefly is named president/dictator o...
4      Hildy, the journalist former wife of newspaper...
...                                                  ...
38065  The wolves are howling once again, as a terrif...
38066  Alejandro's life is disrupted when actress Sop...
38067  Alejandro's life is disrupted when actress Sop...
38068  Host RuPaul Charles brings his one-of-a-kind p...
38069  The fears and resiliencies within a group of t...

                                                  genres      role  \
0      ['drama', 'family', 'fantasy', 'romance', 'com...     ACTOR
1      ['drama', 'family', 'fantasy', 'romance', 'com...  DIRECTOR
2                                      ['comedy', 'war']     ACTOR
3                                      ['comedy', 'war']  DIRECTOR
4                         ['drama', 'romance', 'comedy']     ACTOR
...                                                  ...       ...
38065  ['action', 'fantasy', 'comedy', 'drama', 'roma...  DIRECTOR
38066                              ['comedy', 'romance']     ACTOR
38067                              ['comedy', 'romance']  DIRECTOR
38068                                        ['reality']     ACTOR
38069                                  ['documentation']  DIRECTOR

                                                    name
0      ['James Stewart', 'Donna Reed', 'Lionel Barrym...
1      ['James Stewart', 'Donna Reed', 'Lionel Barrym...
2      ['Groucho Marx', 'Harpo Marx', 'Chico Marx', '...
3      ['Groucho Marx', 'Harpo Marx', 'Chico Marx', '...
4      ['Cary Grant', 'Rosalind Russell', 'Ralph Bell...
...                                                  ...
38065  ['Tyler Posey', 'Crystal Reed', 'Holland Roden...
38066  ['Diego Boneta', 'Monica Barbaro', 'Casey Thom...
38067  ['Diego Boneta', 'Monica Barbaro', 'Casey Thom...
38068                                         ['RuPaul']
38069                                ['Nathaniel Lezra']

[38070 rows x 7 columns]

In [ ]:
merge_titles_credits=final_data

In [ ]:
merge_titles_credits.isnull().sum()

id              0
title           0
type            0
description    82
genres          0
role            0
name            0
dtype: int64

In [ ]:
merge_titles_credits.dropna(inplace=True)

In [ ]:
merge_titles_credits.isnull().sum()

id             0
title          0
type           0
description    0
genres         0
role           0
name           0
dtype: int64

In [ ]:
merge_titles_credits.duplicated().sum()

0

In [ ]:
merge_titles_credits

,id,title,type,description,genres,role,name
0,tm87233,It's a Wonderful Life,MOVIE,A holiday favourite for generations... George...,"['drama', 'family', 'fantasy', 'romance', 'com...",ACTOR,"['James Stewart', 'Donna Reed', 'Lionel Barrym..."
1,tm87233,It's a Wonderful Life,MOVIE,A holiday favourite for generations... George...,"['drama', 'family', 'fantasy', 'romance', 'com...",DIRECTOR,"['James Stewart', 'Donna Reed', 'Lionel Barrym..."
2,tm143047,Duck Soup,MOVIE,Rufus T. Firefly is named president/dictator o...,"['comedy', 'war']",ACTOR,"['Groucho Marx', 'Harpo Marx', 'Chico Marx', '..."
3,tm143047,Duck Soup,MOVIE,Rufus T. Firefly is named president/dictator o...,"['comedy', 'war']",DIRECTOR,"['Groucho Marx', 'Harpo Marx', 'Chico Marx', '..."
4,tm83884,His Girl Friday,MOVIE,"Hildy, the journalist former wife of newspaper...","['drama', 'romance', 'comedy']",ACTOR,"['Cary Grant', 'Rosalind Russell', 'Ralph Bell..."
...,...,...,...,...,...,...,...
38065,tm1238886,Teen Wolf: The Movie,MOVIE,"The wolves are howling once again, as a terrif...","['action', 'fantasy', 'comedy', 'drama', 'roma...",DIRECTOR,"['Tyler Posey', 'Crystal Reed', 'Holland Roden..."
38066,tm1285862,At Midnight,MOVIE,Alejandro's life is disrupted when actress Sop...,"['comedy', 'romance']",ACTOR,"['Diego Boneta', 'Monica Barbaro', 'Casey Thom..."
38067,tm1285862,At Midnight,MOVIE,Alejandro's life is disrupted when actress Sop...,"['comedy', 'romance']",DIRECTOR,"['Diego Boneta', 'Monica Barbaro', 'Casey Thom..."
38068,ts378319,Lingo,SHOW,Host RuPaul Charles brings his one-of-a-kind p...,['reality'],ACTOR,['RuPaul']
38069,tm1312309,Don't Leave Me Behind: Stories of Young Ukrain...,MOVIE,The fears and resiliencies within a group of t...,['documentation'],DIRECTOR,['Nathaniel Lezra']

In [ ]:
import ast

# Assuming 'genres' and 'name' are the columns containing string representations of lists
merge_titles_credits['genres'] = merge_titles_credits['genres'].apply(ast.literal_eval)
merge_titles_credits['name'] = merge_titles_credits['name'].apply(ast.literal_eval)

# Display the updated DataFrame
merge_titles_credits.head()

,id,title,type,description,genres,role,name
0,tm87233,It's a Wonderful Life,MOVIE,A holiday favourite for generations... George...,"[drama, family, fantasy, romance, comedy]",ACTOR,"[James Stewart, Donna Reed, Lionel Barrymore, ..."
1,tm87233,It's a Wonderful Life,MOVIE,A holiday favourite for generations... George...,"[drama, family, fantasy, romance, comedy]",DIRECTOR,"[James Stewart, Donna Reed, Lionel Barrymore, ..."
2,tm143047,Duck Soup,MOVIE,Rufus T. Firefly is named president/dictator o...,"[comedy, war]",ACTOR,"[Groucho Marx, Harpo Marx, Chico Marx, Zeppo M..."
3,tm143047,Duck Soup,MOVIE,Rufus T. Firefly is named president/dictator o...,"[comedy, war]",DIRECTOR,"[Groucho Marx, Harpo Marx, Chico Marx, Zeppo M..."
4,tm83884,His Girl Friday,MOVIE,"Hildy, the journalist former wife of newspaper...","[drama, romance, comedy]",ACTOR,"[Cary Grant, Rosalind Russell, Ralph Bellamy, ..."

In [ ]:
# Assuming 'name' is the column with a list of names
merge_titles_credits['name'] = merge_titles_credits['name'].apply(lambda x: x[:5] if len(x) > 5 else x)

In [ ]:
merge_titles_credits

,id,title,type,description,genres,role,name
0,tm87233,It's a Wonderful Life,MOVIE,A holiday favourite for generations... George...,"[drama, family, fantasy, romance, comedy]",ACTOR,"[James Stewart, Donna Reed, Lionel Barrymore, ..."
1,tm87233,It's a Wonderful Life,MOVIE,A holiday favourite for generations... George...,"[drama, family, fantasy, romance, comedy]",DIRECTOR,"[James Stewart, Donna Reed, Lionel Barrymore, ..."
2,tm143047,Duck Soup,MOVIE,Rufus T. Firefly is named president/dictator o...,"[comedy, war]",ACTOR,"[Groucho Marx, Harpo Marx, Chico Marx, Zeppo M..."
3,tm143047,Duck Soup,MOVIE,Rufus T. Firefly is named president/dictator o...,"[comedy, war]",DIRECTOR,"[Groucho Marx, Harpo Marx, Chico Marx, Zeppo M..."
4,tm83884,His Girl Friday,MOVIE,"Hildy, the journalist former wife of newspaper...","[drama, romance, comedy]",ACTOR,"[Cary Grant, Rosalind Russell, Ralph Bellamy, ..."
...,...,...,...,...,...,...,...
38065,tm1238886,Teen Wolf: The Movie,MOVIE,"The wolves are howling once again, as a terrif...","[action, fantasy, comedy, drama, romance, thri...",DIRECTOR,"[Tyler Posey, Crystal Reed, Holland Roden, Tyl..."
38066,tm1285862,At Midnight,MOVIE,Alejandro's life is disrupted when actress Sop...,"[comedy, romance]",ACTOR,"[Diego Boneta, Monica Barbaro, Casey Thomas Br..."
38067,tm1285862,At Midnight,MOVIE,Alejandro's life is disrupted when actress Sop...,"[comedy, romance]",DIRECTOR,"[Diego Boneta, Monica Barbaro, Casey Thomas Br..."
38068,ts378319,Lingo,SHOW,Host RuPaul Charles brings his one-of-a-kind p...,[reality],ACTOR,[RuPaul]
38069,tm1312309,Don't Leave Me Behind: Stories of Young Ukrain...,MOVIE,The fears and resiliencies within a group of t...,[documentation],DIRECTOR,[Nathaniel Lezra]

In [ ]:
# Drop rows where the role is 'ACTOR'
merge_titles_credits = merge_titles_credits[merge_titles_credits['role'] != 'ACTOR']

# Reset index after dropping rows
merge_titles_credits.reset_index(drop=True, inplace=True)

# Display the updated DataFrame
merge_titles_credits

,id,title,type,description,genres,role,name
0,tm87233,It's a Wonderful Life,MOVIE,A holiday favourite for generations... George...,"[drama, family, fantasy, romance, comedy]",DIRECTOR,"[James Stewart, Donna Reed, Lionel Barrymore, ..."
1,tm143047,Duck Soup,MOVIE,Rufus T. Firefly is named president/dictator o...,"[comedy, war]",DIRECTOR,"[Groucho Marx, Harpo Marx, Chico Marx, Zeppo M..."
2,tm83884,His Girl Friday,MOVIE,"Hildy, the journalist former wife of newspaper...","[drama, romance, comedy]",DIRECTOR,"[Cary Grant, Rosalind Russell, Ralph Bellamy, ..."
3,tm5012,Red River,MOVIE,Headstrong Thomas Dunson starts a thriving Tex...,"[western, drama, romance, action]",DIRECTOR,"[John Wayne, Montgomery Clift, Joanne Dru, Wal..."
4,tm82253,The Best Years of Our Lives,MOVIE,It's the hope that sustains the spirit of ever...,"[drama, romance, war]",DIRECTOR,"[Myrna Loy, Fredric March, Dana Andrews, Teres..."
...,...,...,...,...,...,...,...
17257,tm1032011,Yukon's Wild Grizzlies,MOVIE,"Deep in Canada's remote Yukon, a dramatic comi...",[documentation],DIRECTOR,[Phil Timpany]
17258,tm1055776,Making Tracks on Mars,MOVIE,"Mars has beckoned humankind for centuries, but...",[documentation],DIRECTOR,"[Konstantin Lavronenko, Piotr Trzaskalski]"
17259,tm1238886,Teen Wolf: The Movie,MOVIE,"The wolves are howling once again, as a terrif...","[action, fantasy, comedy, drama, romance, thri...",DIRECTOR,"[Tyler Posey, Crystal Reed, Holland Roden, Tyl..."
17260,tm1285862,At Midnight,MOVIE,Alejandro's life is disrupted when actress Sop...,"[comedy, romance]",DIRECTOR,"[Diego Boneta, Monica Barbaro, Casey Thomas Br..."
17261,tm1312309,Don't Leave Me Behind: Stories of Young Ukrain...,MOVIE,The fears and resiliencies within a group of t...,[documentation],DIRECTOR,[Nathaniel Lezra]

In [ ]:
merge_titles_credits

,id,title,type,description,genres,role,name
0,tm87233,It's a Wonderful Life,MOVIE,A holiday favourite for generations... George...,"[drama, family, fantasy, romance, comedy]",DIRECTOR,"[James Stewart, Donna Reed, Lionel Barrymore, ..."
1,tm143047,Duck Soup,MOVIE,Rufus T. Firefly is named president/dictator o...,"[comedy, war]",DIRECTOR,"[Groucho Marx, Harpo Marx, Chico Marx, Zeppo M..."
2,tm83884,His Girl Friday,MOVIE,"Hildy, the journalist former wife of newspaper...","[drama, romance, comedy]",DIRECTOR,"[Cary Grant, Rosalind Russell, Ralph Bellamy, ..."
3,tm5012,Red River,MOVIE,Headstrong Thomas Dunson starts a thriving Tex...,"[western, drama, romance, action]",DIRECTOR,"[John Wayne, Montgomery Clift, Joanne Dru, Wal..."
4,tm82253,The Best Years of Our Lives,MOVIE,It's the hope that sustains the spirit of ever...,"[drama, romance, war]",DIRECTOR,"[Myrna Loy, Fredric March, Dana Andrews, Teres..."
...,...,...,...,...,...,...,...
17257,tm1032011,Yukon's Wild Grizzlies,MOVIE,"Deep in Canada's remote Yukon, a dramatic comi...",[documentation],DIRECTOR,[Phil Timpany]
17258,tm1055776,Making Tracks on Mars,MOVIE,"Mars has beckoned humankind for centuries, but...",[documentation],DIRECTOR,"[Konstantin Lavronenko, Piotr Trzaskalski]"
17259,tm1238886,Teen Wolf: The Movie,MOVIE,"The wolves are howling once again, as a terrif...","[action, fantasy, comedy, drama, romance, thri...",DIRECTOR,"[Tyler Posey, Crystal Reed, Holland Roden, Tyl..."
17260,tm1285862,At Midnight,MOVIE,Alejandro's life is disrupted when actress Sop...,"[comedy, romance]",DIRECTOR,"[Diego Boneta, Monica Barbaro, Casey Thomas Br..."
17261,tm1312309,Don't Leave Me Behind: Stories of Young Ukrain...,MOVIE,The fears and resiliencies within a group of t...,[documentation],DIRECTOR,[Nathaniel Lezra]

In [ ]:
# Identify rows in credits where the role is 'director'
director_rows_credits = credits['role'] == 'DIRECTOR'

# Create a mapping dictionary from 'id' to 'name' for directors
director_mapping = dict(credits.loc[director_rows_credits, ['id', 'name']].values)

# Replace 'role' in merge_titles_credits with the corresponding 'name' for directors
merge_titles_credits['role'] = merge_titles_credits['id'].map(director_mapping)

# Display the updated DataFrame
merge_titles_credits.head()

C:\Users\ashut\AppData\Local\Temp\ipykernel_13320\3027809527.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_titles_credits['role'] = merge_titles_credits['id'].map(director_mapping)

,id,title,type,description,genres,role,name
0,tm87233,It's a Wonderful Life,MOVIE,A holiday favourite for generations... George...,"[drama, family, fantasy, romance, comedy]",Frank Capra,"[James Stewart, Donna Reed, Lionel Barrymore, ..."
1,tm143047,Duck Soup,MOVIE,Rufus T. Firefly is named president/dictator o...,"[comedy, war]",Leo McCarey,"[Groucho Marx, Harpo Marx, Chico Marx, Zeppo M..."
2,tm83884,His Girl Friday,MOVIE,"Hildy, the journalist former wife of newspaper...","[drama, romance, comedy]",Howard Hawks,"[Cary Grant, Rosalind Russell, Ralph Bellamy, ..."
3,tm5012,Red River,MOVIE,Headstrong Thomas Dunson starts a thriving Tex...,"[western, drama, romance, action]",Howard Hawks,"[John Wayne, Montgomery Clift, Joanne Dru, Wal..."
4,tm82253,The Best Years of Our Lives,MOVIE,It's the hope that sustains the spirit of ever...,"[drama, romance, war]",William Wyler,"[Myrna Loy, Fredric March, Dana Andrews, Teres..."

In [ ]:
merge_titles_credits.rename(columns={'role': 'crew_director'}, inplace=True)
merge_titles_credits.head()

C:\Users\ashut\AppData\Local\Temp\ipykernel_13320\1900674475.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_titles_credits.rename(columns={'role': 'crew_director'}, inplace=True)

,id,title,type,description,genres,crew_director,name
0,tm87233,It's a Wonderful Life,MOVIE,A holiday favourite for generations... George...,"[drama, family, fantasy, romance, comedy]",Frank Capra,"[James Stewart, Donna Reed, Lionel Barrymore, ..."
1,tm143047,Duck Soup,MOVIE,Rufus T. Firefly is named president/dictator o...,"[comedy, war]",Leo McCarey,"[Groucho Marx, Harpo Marx, Chico Marx, Zeppo M..."
2,tm83884,His Girl Friday,MOVIE,"Hildy, the journalist former wife of newspaper...","[drama, romance, comedy]",Howard Hawks,"[Cary Grant, Rosalind Russell, Ralph Bellamy, ..."
3,tm5012,Red River,MOVIE,Headstrong Thomas Dunson starts a thriving Tex...,"[western, drama, romance, action]",Howard Hawks,"[John Wayne, Montgomery Clift, Joanne Dru, Wal..."
4,tm82253,The Best Years of Our Lives,MOVIE,It's the hope that sustains the spirit of ever...,"[drama, romance, war]",William Wyler,"[Myrna Loy, Fredric March, Dana Andrews, Teres..."

In [ ]:
merge_titles_credits['description'] = merge_titles_credits['description'].apply(lambda x: x.split())

C:\Users\ashut\AppData\Local\Temp\ipykernel_13320\3676460834.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_titles_credits['description'] = merge_titles_credits['description'].apply(lambda x: x.split())

In [ ]:
merge_titles_credits

,id,title,type,description,genres,crew_director,name
0,tm87233,It's a Wonderful Life,MOVIE,"[A, holiday, favourite, for, generations..., G...","[drama, family, fantasy, romance, comedy]",Frank Capra,"[James Stewart, Donna Reed, Lionel Barrymore, ..."
1,tm143047,Duck Soup,MOVIE,"[Rufus, T., Firefly, is, named, president/dict...","[comedy, war]",Leo McCarey,"[Groucho Marx, Harpo Marx, Chico Marx, Zeppo M..."
2,tm83884,His Girl Friday,MOVIE,"[Hildy,, the, journalist, former, wife, of, ne...","[drama, romance, comedy]",Howard Hawks,"[Cary Grant, Rosalind Russell, Ralph Bellamy, ..."
3,tm5012,Red River,MOVIE,"[Headstrong, Thomas, Dunson, starts, a, thrivi...","[western, drama, romance, action]",Howard Hawks,"[John Wayne, Montgomery Clift, Joanne Dru, Wal..."
4,tm82253,The Best Years of Our Lives,MOVIE,"[It's, the, hope, that, sustains, the, spirit,...","[drama, romance, war]",William Wyler,"[Myrna Loy, Fredric March, Dana Andrews, Teres..."
...,...,...,...,...,...,...,...
17257,tm1032011,Yukon's Wild Grizzlies,MOVIE,"[Deep, in, Canada's, remote, Yukon,, a, dramat...",[documentation],Phil Timpany,[Phil Timpany]
17258,tm1055776,Making Tracks on Mars,MOVIE,"[Mars, has, beckoned, humankind, for, centurie...",[documentation],Piotr Trzaskalski,"[Konstantin Lavronenko, Piotr Trzaskalski]"
17259,tm1238886,Teen Wolf: The Movie,MOVIE,"[The, wolves, are, howling, once, again,, as, ...","[action, fantasy, comedy, drama, romance, thri...",Russell Mulcahy,"[Tyler Posey, Crystal Reed, Holland Roden, Tyl..."
17260,tm1285862,At Midnight,MOVIE,"[Alejandro's, life, is, disrupted, when, actre...","[comedy, romance]",Jonah Feingold,"[Diego Boneta, Monica Barbaro, Casey Thomas Br..."
17261,tm1312309,Don't Leave Me Behind: Stories of Young Ukrain...,MOVIE,"[The, fears, and, resiliencies, within, a, gro...",[documentation],Nathaniel Lezra,[Nathaniel Lezra]

In [ ]:
merge_titles_credits['genres'] = merge_titles_credits['genres'].apply(lambda x:[i.replace(" ", "") for i in x])
merge_titles_credits['crew_director'] = merge_titles_credits['crew_director'].apply(lambda x:[i.replace(" ", "") for i in x])
merge_titles_credits['name'] = merge_titles_credits['name'].apply(lambda x:[i.replace(" ", "") for i in x])

C:\Users\ashut\AppData\Local\Temp\ipykernel_13320\3222688451.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_titles_credits['genres'] = merge_titles_credits['genres'].apply(lambda x:[i.replace(" ", "") for i in x])
C:\Users\ashut\AppData\Local\Temp\ipykernel_13320\3222688451.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_titles_credits['crew_director'] = merge_titles_credits['crew_director'].apply(lambda x:[i.replace(" ", "") for i in x])
C:\Users\ashut\AppData\Local\Temp\ipykernel_13320\3222688451.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_titles_credits['name'] = merge_titles_credits['name'].apply(lambda x:[i.replace(" ", "") for i in x])

In [ ]:
merge_titles_credits

,id,title,type,description,genres,crew_director,name
0,tm87233,It's a Wonderful Life,MOVIE,"[A, holiday, favourite, for, generations..., G...","[drama, family, fantasy, romance, comedy]","[F, r, a, n, k, , C, a, p, r, a]","[JamesStewart, DonnaReed, LionelBarrymore, Tho..."
1,tm143047,Duck Soup,MOVIE,"[Rufus, T., Firefly, is, named, president/dict...","[comedy, war]","[L, e, o, , M, c, C, a, r, e, y]","[GrouchoMarx, HarpoMarx, ChicoMarx, ZeppoMarx,..."
2,tm83884,His Girl Friday,MOVIE,"[Hildy,, the, journalist, former, wife, of, ne...","[drama, romance, comedy]","[H, o, w, a, r, d, , H, a, w, k, s]","[CaryGrant, RosalindRussell, RalphBellamy, Gen..."
3,tm5012,Red River,MOVIE,"[Headstrong, Thomas, Dunson, starts, a, thrivi...","[western, drama, romance, action]","[H, o, w, a, r, d, , H, a, w, k, s]","[JohnWayne, MontgomeryClift, JoanneDru, Walter..."
4,tm82253,The Best Years of Our Lives,MOVIE,"[It's, the, hope, that, sustains, the, spirit,...","[drama, romance, war]","[W, i, l, l, i, a, m, , W, y, l, e, r]","[MyrnaLoy, FredricMarch, DanaAndrews, TeresaWr..."
...,...,...,...,...,...,...,...
17257,tm1032011,Yukon's Wild Grizzlies,MOVIE,"[Deep, in, Canada's, remote, Yukon,, a, dramat...",[documentation],"[P, h, i, l, , T, i, m, p, a, n, y]",[PhilTimpany]
17258,tm1055776,Making Tracks on Mars,MOVIE,"[Mars, has, beckoned, humankind, for, centurie...",[documentation],"[P, i, o, t, r, , T, r, z, a, s, k, a, l, s, k...","[KonstantinLavronenko, PiotrTrzaskalski]"
17259,tm1238886,Teen Wolf: The Movie,MOVIE,"[The, wolves, are, howling, once, again,, as, ...","[action, fantasy, comedy, drama, romance, thri...","[R, u, s, s, e, l, l, , M, u, l, c, a, h, y]","[TylerPosey, CrystalReed, HollandRoden, TylerH..."
17260,tm1285862,At Midnight,MOVIE,"[Alejandro's, life, is, disrupted, when, actre...","[comedy, romance]","[J, o, n, a, h, , F, e, i, n, g, o, l, d]","[DiegoBoneta, MonicaBarbaro, CaseyThomasBrown,..."
17261,tm1312309,Don't Leave Me Behind: Stories of Young Ukrain...,MOVIE,"[The, fears, and, resiliencies, within, a, gro...",[documentation],"[N, a, t, h, a, n, i, e, l, , L, e, z, r, a]",[NathanielLezra]

In [ ]:
# Assuming 'merge_titles_credits' is the DataFrame
merge_titles_credits['crew_director'] = merge_titles_credits['crew_director'].apply(lambda x: [''.join(x)])

# Display the updated DataFrame
merge_titles_credits

C:\Users\ashut\AppData\Local\Temp\ipykernel_13320\2759340495.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_titles_credits['crew_director'] = merge_titles_credits['crew_director'].apply(lambda x: [''.join(x)])

,id,title,type,description,genres,crew_director,name
0,tm87233,It's a Wonderful Life,MOVIE,"[A, holiday, favourite, for, generations..., G...","[drama, family, fantasy, romance, comedy]",[FrankCapra],"[JamesStewart, DonnaReed, LionelBarrymore, Tho..."
1,tm143047,Duck Soup,MOVIE,"[Rufus, T., Firefly, is, named, president/dict...","[comedy, war]",[LeoMcCarey],"[GrouchoMarx, HarpoMarx, ChicoMarx, ZeppoMarx,..."
2,tm83884,His Girl Friday,MOVIE,"[Hildy,, the, journalist, former, wife, of, ne...","[drama, romance, comedy]",[HowardHawks],"[CaryGrant, RosalindRussell, RalphBellamy, Gen..."
3,tm5012,Red River,MOVIE,"[Headstrong, Thomas, Dunson, starts, a, thrivi...","[western, drama, romance, action]",[HowardHawks],"[JohnWayne, MontgomeryClift, JoanneDru, Walter..."
4,tm82253,The Best Years of Our Lives,MOVIE,"[It's, the, hope, that, sustains, the, spirit,...","[drama, romance, war]",[WilliamWyler],"[MyrnaLoy, FredricMarch, DanaAndrews, TeresaWr..."
...,...,...,...,...,...,...,...
17257,tm1032011,Yukon's Wild Grizzlies,MOVIE,"[Deep, in, Canada's, remote, Yukon,, a, dramat...",[documentation],[PhilTimpany],[PhilTimpany]
17258,tm1055776,Making Tracks on Mars,MOVIE,"[Mars, has, beckoned, humankind, for, centurie...",[documentation],[PiotrTrzaskalski],"[KonstantinLavronenko, PiotrTrzaskalski]"
17259,tm1238886,Teen Wolf: The Movie,MOVIE,"[The, wolves, are, howling, once, again,, as, ...","[action, fantasy, comedy, drama, romance, thri...",[RussellMulcahy],"[TylerPosey, CrystalReed, HollandRoden, TylerH..."
17260,tm1285862,At Midnight,MOVIE,"[Alejandro's, life, is, disrupted, when, actre...","[comedy, romance]",[JonahFeingold],"[DiegoBoneta, MonicaBarbaro, CaseyThomasBrown,..."
17261,tm1312309,Don't Leave Me Behind: Stories of Young Ukrain...,MOVIE,"[The, fears, and, resiliencies, within, a, gro...",[documentation],[NathanielLezra],[NathanielLezra]

In [ ]:
merge_titles_credits.rename(columns={'name': 'cast_members'}, inplace=True)

C:\Users\ashut\AppData\Local\Temp\ipykernel_13320\3920676783.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_titles_credits.rename(columns={'name': 'cast_members'}, inplace=True)

In [ ]:
merge_titles_credits.tail()

,id,title,type,description,genres,crew_director,cast_members
17257,tm1032011,Yukon's Wild Grizzlies,MOVIE,"[Deep, in, Canada's, remote, Yukon,, a, dramat...",[documentation],[PhilTimpany],[PhilTimpany]
17258,tm1055776,Making Tracks on Mars,MOVIE,"[Mars, has, beckoned, humankind, for, centurie...",[documentation],[PiotrTrzaskalski],"[KonstantinLavronenko, PiotrTrzaskalski]"
17259,tm1238886,Teen Wolf: The Movie,MOVIE,"[The, wolves, are, howling, once, again,, as, ...","[action, fantasy, comedy, drama, romance, thri...",[RussellMulcahy],"[TylerPosey, CrystalReed, HollandRoden, TylerH..."
17260,tm1285862,At Midnight,MOVIE,"[Alejandro's, life, is, disrupted, when, actre...","[comedy, romance]",[JonahFeingold],"[DiegoBoneta, MonicaBarbaro, CaseyThomasBrown,..."
17261,tm1312309,Don't Leave Me Behind: Stories of Young Ukrain...,MOVIE,"[The, fears, and, resiliencies, within, a, gro...",[documentation],[NathanielLezra],[NathanielLezra]

In [ ]:
merge_titles_credits['TAGS']= merge_titles_credits['description'] + merge_titles_credits['genres'] + merge_titles_credits['crew_director'] + merge_titles_credits['cast_members']

C:\Users\ashut\AppData\Local\Temp\ipykernel_13320\3794578206.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_titles_credits['TAGS']= merge_titles_credits['description'] + merge_titles_credits['genres'] + merge_titles_credits['crew_director'] + merge_titles_credits['cast_members']

In [ ]:
merge_titles_credits.tail()

,id,title,type,description,genres,crew_director,cast_members,TAGS
17257,tm1032011,Yukon's Wild Grizzlies,MOVIE,"[Deep, in, Canada's, remote, Yukon,, a, dramat...",[documentation],[PhilTimpany],[PhilTimpany],"[Deep, in, Canada's, remote, Yukon,, a, dramat..."
17258,tm1055776,Making Tracks on Mars,MOVIE,"[Mars, has, beckoned, humankind, for, centurie...",[documentation],[PiotrTrzaskalski],"[KonstantinLavronenko, PiotrTrzaskalski]","[Mars, has, beckoned, humankind, for, centurie..."
17259,tm1238886,Teen Wolf: The Movie,MOVIE,"[The, wolves, are, howling, once, again,, as, ...","[action, fantasy, comedy, drama, romance, thri...",[RussellMulcahy],"[TylerPosey, CrystalReed, HollandRoden, TylerH...","[The, wolves, are, howling, once, again,, as, ..."
17260,tm1285862,At Midnight,MOVIE,"[Alejandro's, life, is, disrupted, when, actre...","[comedy, romance]",[JonahFeingold],"[DiegoBoneta, MonicaBarbaro, CaseyThomasBrown,...","[Alejandro's, life, is, disrupted, when, actre..."
17261,tm1312309,Don't Leave Me Behind: Stories of Young Ukrain...,MOVIE,"[The, fears, and, resiliencies, within, a, gro...",[documentation],[NathanielLezra],[NathanielLezra],"[The, fears, and, resiliencies, within, a, gro..."

In [ ]:
merge_titles_credits_update = merge_titles_credits[['id','title','TAGS']]

In [ ]:
merge_titles_credits_update

,id,title,TAGS
0,tm87233,It's a Wonderful Life,"[A, holiday, favourite, for, generations..., G..."
1,tm143047,Duck Soup,"[Rufus, T., Firefly, is, named, president/dict..."
2,tm83884,His Girl Friday,"[Hildy,, the, journalist, former, wife, of, ne..."
3,tm5012,Red River,"[Headstrong, Thomas, Dunson, starts, a, thrivi..."
4,tm82253,The Best Years of Our Lives,"[It's, the, hope, that, sustains, the, spirit,..."
...,...,...,...
17257,tm1032011,Yukon's Wild Grizzlies,"[Deep, in, Canada's, remote, Yukon,, a, dramat..."
17258,tm1055776,Making Tracks on Mars,"[Mars, has, beckoned, humankind, for, centurie..."
17259,tm1238886,Teen Wolf: The Movie,"[The, wolves, are, howling, once, again,, as, ..."
17260,tm1285862,At Midnight,"[Alejandro's, life, is, disrupted, when, actre..."
17261,tm1312309,Don't Leave Me Behind: Stories of Young Ukrain...,"[The, fears, and, resiliencies, within, a, gro..."

In [ ]:
merge_titles_credits_update['TAGS'].apply(lambda x:" ".join(x))

0        A holiday favourite for generations... George ...
1        Rufus T. Firefly is named president/dictator o...
2        Hildy, the journalist former wife of newspaper...
3        Headstrong Thomas Dunson starts a thriving Tex...
4        It's the hope that sustains the spirit of ever...
                               ...
17257    Deep in Canada's remote Yukon, a dramatic comi...
17258    Mars has beckoned humankind for centuries, but...
17259    The wolves are howling once again, as a terrif...
17260    Alejandro's life is disrupted when actress Sop...
17261    The fears and resiliencies within a group of t...
Name: TAGS, Length: 17262, dtype: object

In [ ]:
merge_titles_credits_update['TAGS'] = merge_titles_credits_update['TAGS'].apply(lambda x:" ".join(x))

C:\Users\ashut\AppData\Local\Temp\ipykernel_13320\2600142120.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_titles_credits_update['TAGS'] = merge_titles_credits_update['TAGS'].apply(lambda x:" ".join(x))

In [ ]:
merge_titles_credits_update.head()

,id,title,TAGS
0,tm87233,It's a Wonderful Life,A holiday favourite for generations... George ...
1,tm143047,Duck Soup,Rufus T. Firefly is named president/dictator o...
2,tm83884,His Girl Friday,"Hildy, the journalist former wife of newspaper..."
3,tm5012,Red River,Headstrong Thomas Dunson starts a thriving Tex...
4,tm82253,The Best Years of Our Lives,It's the hope that sustains the spirit of ever...

In [ ]:
merge_titles_credits_update['TAGS'][5]

"An Episcopal Bishop, Henry Brougham, has been working for months on the plans for an elaborate new cathedral which he hopes will be paid for primarily by a wealthy, stubborn widow. He is losing sight of his family and of why he became a churchman in the first place. Enter Dudley, an angel sent to help him. Dudley does help everyone he meets, but not necessarily in the way they would have preferred. With the exception of Henry, everyone loves him, but Henry begins to believe that Dudley is there to replace him, both at work and in his family's affections, as Christmas approaches. comedy drama fantasy romance HenryKoster CaryGrant LorettaYoung DavidNiven MontyWoolley JamesGleason"

In [ ]:
merge_titles_credits_update['TAGS'].apply(lambda x:x.lower())

0        a holiday favourite for generations... george ...
1        rufus t. firefly is named president/dictator o...
2        hildy, the journalist former wife of newspaper...
3        headstrong thomas dunson starts a thriving tex...
4        it's the hope that sustains the spirit of ever...
                               ...
17257    deep in canada's remote yukon, a dramatic comi...
17258    mars has beckoned humankind for centuries, but...
17259    the wolves are howling once again, as a terrif...
17260    alejandro's life is disrupted when actress sop...
17261    the fears and resiliencies within a group of t...
Name: TAGS, Length: 17262, dtype: object

In [ ]:
merge_titles_credits_update['TAGS'] = merge_titles_credits_update['TAGS'].apply(lambda x:x.lower())

C:\Users\ashut\AppData\Local\Temp\ipykernel_13320\3099291677.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_titles_credits_update['TAGS'] = merge_titles_credits_update['TAGS'].apply(lambda x:x.lower())

In [ ]:
merge_titles_credits_update.tail(50)

,id,title,TAGS
17212,tm1133925,Blue's Big City Adventure,when josh gets the opportunity of a lifetime t...
17213,tm1184368,South Park: The 25th Anniversary Concert,trey parker and matt stone celebrate south par...
17214,tm1074906,Oasis: Knebworth 1996,this 25th anniversary film of the legendary oa...
17215,tm983672,Sabaya,"with just a mobile phone and a gun, mahmud, zi..."
17216,tm1229888,Secrets of the Oligarch Wives,fresh insights and stunning details about the ...
17217,tm1001679,Sir Alex Ferguson: Never Give In,a look at the life and legend of sir alex ferg...
17218,tm993170,Madonna - Madame X,"filmed in lisbon, portugal, the film captures ..."
17219,tm1034602,The Ballad Of Billy McCrae,chris blythe returns to his home town in wales...
17220,ts287397,Murderous History,at the scene of every crime is a story of a ti...
17221,tm856614,Beautiful Something Left Behind,"in new jersey, the good grief community focuse..."
17222,tm1278849,Snow Day,a pair of siblings make the most of a school s...
17223,tm1261002,Fantasy Football,callie a. coleman discovers she can magically ...
17224,ts310161,Before I Forget,"pascual león, a retired 65-year-old man, finds..."
17225,tm1114690,A Loud House Christmas,lincoln loud gears up for the ultimate christm...
17226,tm1107686,Unknown Dimension: The Story of Paranormal Act...,a deep dive into the making of the paranormal ...
17227,tm1292084,Mariah Carey: Merry Christmas to All!,filmed in new york city at madison square gard...
17228,tm1259138,Reindeer in Here,the story of how blizzard (blizz)—a young rein...
17229,tm999809,Patrice O'Neal: Killing Is Easy,a documentary about the life and career of con...
17230,tm512602,Only People,two friends who've had feelings for one anothe...
17231,tm1252035,Destination Paris,"in this new documentary, award-winning soccer ..."
17232,tm1041663,The Marfa Tapes,"jack ingram, miranda lambert, and jon randall ..."
17233,tm1042160,Coded: The Hidden Love of J.C. Leyendecker,coded tells the story of illustrator j.c. leye...
17234,tm880110,Woman in Motion,nichelle nichols' daunting task to launch a na...
17235,tm975981,Cher & the Loneliest Elephant,"""the world's loneliest elephant"" kaavan will f..."
17236,tm1141796,Madame X Presents: Madame Xtra Q&A,a follow-up special to madonna's recently rele...
17237,tm1174847,"Love, Tom",over the course of a single night in nashville...
17238,tm1195249,"Whitney, a Look Back",the one-hour special will include lost perform...
17239,tm1235710,The Only,the only explores the highest triumphs and dar...
17240,tm1175333,The Loyola Project,"in 1963, at the height of the civil rights mov..."
17241,tm994534,A Life Too Short,social media superstar qandeel baloch pushed b...
17242,tm1251570,Favorite Daughter,"a grandmother, mother, and daughter quarantine..."
17243,tm1045408,R.I.P. T-Shirts,"a small custom t-shirt shop in washington, dc,..."
17244,tm960072,Josh Johnson: # (Hashtag),comedian and writer josh johnson talks about t...
17245,tm1010512,Fiddler's Journey to the Big Screen,a documentary about the making of the musical ...
17246,tm1166692,More Than I Want to Remember,"one night at her home in southeastern congo, 1..."
17247,tm1119366,Lynching Postcards: Token of a Great Day,this chilling reflection examines the horrific...
17248,tm1119356,Bree Wayy: Promise Witness Remembrance,dawn porter’s uplifting short takes us behind ...
17249,tm1111642,Art & Krimes by Krimes,while locked-up for six years in federal priso...
17250,tm1270293,As Far as They Can Run,three young adults join a running program for ...
17251,ts297043,Tomb Hunters,it was an archaeological find that became glob...
17252,tm1121027,Roy Wood Jr.: Imperfect Messenger,roy wood jr. discusses the difference between ...
17253,tm1106415,Destination Porto: The Unimaginable Journey,follow soccer journalist guillem belagué as he...
17254,tm1188604,Angola Do You Hear Us? Voices from a Plantatio...,angola do you hear us? voices from a plantatio...
17255,tm1017207,Dimland,"in an attempt to shake off her melancholy, a y..."
17256,ts341765,Inside Hampton Court Palace,"on the edge of london stands hampton court, on..."
17257,tm1032011,Yukon's Wild Grizzlies,"deep in canada's remote yukon, a dramatic comi..."
17258,tm1055776,Making Tracks on Mars,"mars has beckoned humankind for centuries, but..."
17259,tm1238886,Teen Wolf: The Movie,"the wolves are howling once again, as a terrif..."
17260,tm1285862,At Midnight,alejandro's life is disrupted when actress sop...
17261,tm1312309,Don't Leave Me Behind: Stories of Young Ukrain...,the fears and resiliencies within a group of t...

In [ ]:
import nltk

In [ ]:
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [ ]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [ ]:
merge_titles_credits_update['TAGS']=merge_titles_credits_update['TAGS'].apply(stem)

C:\Users\ashut\AppData\Local\Temp\ipykernel_13320\2051852197.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merge_titles_credits_update['TAGS']=merge_titles_credits_update['TAGS'].apply(stem)

similarity check against tags bags of words (text_vectorization) [(tfidf) (word to vec)]

In [ ]:
# combine all the text
# word having maximum frequency ,we will extract those words
# dont consider stop words eg. (are and of to from ) and many more

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=6000,stop_words='english')

In [ ]:
vectors = cv.fit_transform(merge_titles_credits_update['TAGS']).toarray()

In [ ]:
vectors[0]

array([0, 1, 0, ..., 0, 0, 0], dtype=int64)

In [ ]:
len(cv.get_feature_names_out())

6000

calculate cosine distance

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
similarity = cosine_similarity(vectors)

c:\Users\ashut\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\extmath.py:192: RuntimeWarning: invalid value encountered in matmul
  ret = a @ b

In [ ]:
def recommend(title):
    index = merge_titles_credits_update[merge_titles_credits_update['title'] == title].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key=lambda x:x[1])
    for i in distances[1:6]:
        print(merge_titles_credits_update.iloc[i[0]].title)

In [ ]:
recommend('The Avengers') # top 5 movies similar will be shown

Avengers: Age of Ultron
Avengers: Endgame
Avengers: Infinity War
Team America: World Police
X-Men: Apocalypse